<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Avis event router. See http://avis.sourceforge.net for more information.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Avis</string>
</dict>
</plist>
